header {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    color: #fff;
}

.BTGlasses>img {
    position: relative;
}

.BTGlasses::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
}

.content {
    position: absolute;
    top: 150px;
    left: 0;
    right: 0;
    z-index: 1000;
}

.content img {
    width: 50%;
}

.handleGlasses {
    background-color: #fff;
    padding: 10px 10px;
}

.imgGlasses {
   padding: 20px 10px;
}

.imgGlasses img {
    width: 120px;
    height: 50px;
    border: 1px solid black;
    cursor: pointer;
}

.personTest {
    position: relative;
}

.personTest .imgTest {
    position: absolute;
    top: 74px;
    left: 178px;
    width: 124px;
    opacity: 0.8;
}

.personTest .title {
    position: absolute;
    bottom: 0;
    left: 25%;
    width: 50%;
    height: 33%;
    text-align: left;
    background-color: rgba(255, 165, 0, 0.5);
    padding: 0 4px 10px;
}

.personTest .title h1 {
    font-size: 20px;
    color: rgb(120, 120, 209);
}

.personTest .title p {
    font-size: 12px;
    font-weight: 700;
    color: #fff;
}