body {
    background: url(../../public/image/btDatve/bgmovie.jpg);
    background-attachment: fixed;
    background-size: cover;
    max-width: 100vw;
    height: 100vh;
}

.btDatVe-container {
    padding: 40px 20px;
    background-color: rgba(128, 128, 128, 0.85);
    width: 50vw;
}

.manHinh {
    letter-spacing: 10px;
    font-size: 18px;
    font-weight: 500;
    margin-top: 40px;
}

table {
    width: 100%;
    background-color: #fff;
}

.title {
    color: #ff9800;
}

.Chair {
    &.booking{
        background-color: red !important;
        color: white;
    }
    &.booked {
        background-color: gray;
        color: white;
        // tắt hết các event của button đó luôn
        pointer-events: none;
    }
}
